*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}
/*---Header----*/
li {
    list-style: none;
}
.nav-link:hover{
    color: blue !important;
}
.dropdown-menu a:hover{
    color: blue;
}
.navbar{
    background-color:rgb(100, 149, 237, 20%) ;
}
.nav-link:active{
    color: black;
}
.nav-link:active{
    color: black;
}
#myContactUs{
    background-color: black;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 7px;
    color: white;
}
#myContactUs a{
    color: white !important;
}
#myContactUs:hover{
    color: white !important;
}
.canva .navbar{
    background-color: rgb(100, 149, 237, 30%)"
}
.navbar-brand img{
    width: 150px;
}
.navbar-toggler{
    margin-right: 16px;
}
.offcanvas-body .navbar-nav{
    gap: 10px;
    margin-left: 15px;
}
.nav-link{
    margin-right: 29px;
}
.navbar-nav{
    margin-right: 19px;
}
#offcanvasExampleLabel img{
    width: 150px;
}
/*---content----*/

.card-body .btn:hover{
    background-color: blue;
}
.container-fluid1{
    padding: 0 47px;

}
.container-fluid1 .col-sm-6 h1{
    font-size: 44px;
    font-weight: bolder;
}
.container-fluid1 .col-sm-6 p{
    font-size: 25px;
}
.container-fluid2{
    padding: 80px 4px;
}
.container-fluid2 h1{
    font-weight: bolder;
    font-size: 44px;
}
.container-fluid2 p{
    font-size: 25px;
}
.container-fluid3{
    padding: 0 47px;
}
.container-fluid3 h1{
    font-size: 44px;
    font-weight: bolder;
}
.container-fluid3 p{
    font-size: 25px;
}
.container-fluid4{
    padding: 0px 47px;
}
.container-fluid4 h1{
    margin-bottom: 160px;
    font-size: 44px;
    font-weight: lighter;
}
.container-fluid4 h2{
    font-size: 30px;
    font-weight: bolder;
}
.container-fluid4 p{
    font-size: 25px;
    font-weight: lighter;
}
.container-fluid4 img{
    width: 100%;
}
#mycontent2{
    padding: 48px;
}
#mycontent2 .row{
    row-gap: 1rem;
}
.card-title{
    font-weight: bolder;
}
.card-body .btn{
    padding: 1rem 1rem;
}
@media (max-width: 992px){
    #myContactUs{
        background-color: white;
        color: black;
        font-weight: lighter;
        margin-left: 6px;
        position: relative;
        bottom: 0px ;
    }
    .nav-link{
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #myServices{
        margin-left: 20px;
        display: none;
    }
    .offcanvas-header{
        background-color: rgb(100, 149, 237, 30%);
    }
    .container-fluid1{
        padding: 0 27px;
    }
    .container-fluid4{
        padding: 0px 27px;
    }
    .container-fluid3{
        padding: 0 27px;
    }
    #mycontent2{
        padding: 28px;
    }
    .dropdown-menu li{
        text-align: left;
        padding-left: 15px;
        margin-bottom: 10px !important;
    }
    .row h1{
        font-size: 30px !important;
    }
    .container-fluid1 p{
        font-size: 25px !important;
    }
    .container-fluid2 h1{
        font-size: 30px !important;

    }
    .container-fluid2 p{
        font-size: 25px !important;
    }
    /*.container-fluid3 col h1 {
        font-size: 15px;
    }*/

    #myCard .btn{
        margin-top: 26px;
    }
    #navbarDropdown{
        margin-left: 10px;
    }
    .navbar-toggler{
        margin-right: 25px;
    }
    
}    
