*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: myFont;
}
@font-face{
    font-family: myFont;
    src: url(Avenir1);
}
body {
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}
li {
    list-style: none;
}


/*---Header----*/

.navbar-brand img{
    width: 100px;
    height: 100px;
}
.nav-item{
    margin-top: 5px;
}
.nav-link:hover{
    color: blue !important; 
}
#mycontactus{
    background-color: black;
    padding: 3px;
    letter-spacing: 1px;
    margin-bottom: 13px;
    
}
#mycontactus a{
    color: white !important;
    
}
.card-body .btn:hover{
    background-color: blue;
}
.dropdown-item:hover{
    color: blue !important;
}

@media (max-width: 992px){
    
    .navbar-nav{
        text-align: center;
    }
    .dropdown-menu li{
        text-align: center;
    }
    .row h1{
        font-size: 30px !important;
    }
    .container-fluid1 p{
        font-size: 25px !important;
    }
    .container-fluid2 h1{
        font-size: 30px !important;
        
    }
    .container-fluid2 p{
        font-size: 25px !important;
    }
    
    #mycard .btn{
        margin-top: 26px;
    }
    #navbarDropdown{
        margin-left: 10px;
    }
}